<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta name="description" content="Angular Material: Theming and ARIA">
    <title>Angular Material - Starter App</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="../node_modules/angular-material/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="starterApp" ng-cloak layout="column" ng-controller="UserController as ul">

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script>
  <script src="../node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
  <script src="../node_modules/angular-material/angular-material.js" type="text/javascript" ></script>

  <script src="./src/users/Users.js"></script>
  <script src="./src/users/UserController.js"></script>
  <script src="./src/users/UserService.js"></script>

  <script type="text/javascript">
      angular
          .module('starterApp', [ 'ngMaterial', 'users' ])
          .config(function ($mdThemingProvider, $mdIconProvider) {
              $mdIconProvider.defaultIconSet("./assets/svg/avatars.svg", 128);
              $mdIconProvider.icon("share", "./assets/svg/share.svg", 24);
              $mdIconProvider.icon("menu", "./assets/svg/menu.svg", 24);
              $mdThemingProvider.theme('default')
                .primaryPalette('brown')
                .accentPalette('red');
          })
          .run(function($log){
            $log.debug("startApp running ");
          });
    </script>

  <md-toolbar layout="row" id="toolbar">
    <md-button class="menu"
               hide-gt-sm ng-click="ul.toggleList()"
               aria-label="Show User List"
    >
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h3>Angular Material Starter</h3>
  </md-toolbar>

  <div class="container" id="container" flex layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left"
                ng-click="ul.toggleList()"
                class="md-whiteframe-4dp">
      <md-list>
        <!-- List item #1 -->
        <md-list-item ng-repeat="u in ul.users">
          <md-button ng-click="ul.selectUser(u)"
                     ng-class="{'selected' : u === ul.selected }"
                     aria-label="Select User from List on the LEFT"
          >
            <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
            {{u.name}}
          </md-button>
        </md-list-item>

      </md-list>
    </md-sidenav>
    <md-content flex id="content">
      <md-icon md-svg-src="{{ul.selected.avatar}}" class="avatar"></md-icon>
      <h2>{{ul.selected.name}}</h2>
      <p>
        {{ul.selected.content}}
      </p>

      <md-button class="share"
                 md-no-ink ng-click="ul.makeContact(ul.selected)"
                 aria-label="Share with {{ul.selected.name}}"
      >
        <md-icon md-svg-icon="share"></md-icon>
      </md-button>

    </md-content>

  </div>

  </body>
</html>
